/* Custom CSS by Garrett Estrin | Garrett.Estrin.com */
body {}

.container {
  margin: 20px auto;
}

h1 {
  font-size: 75px;
  margin-top: 55px;
  color: white;
  border: solid white 5px;
}

img {
  width: 50px;
}

a {
  color: black;
}

.modal-content.custom {
  /*This sets modul background*/
}

.indent {
  text-indent: 15px;
}

p {
    margin: -40px 0 10px;
}

#a {
  background-image: url('https://s3-us-west-2.amazonaws.com/boxheartweddings/garrettestrin_images/wood-min.png');
  background-size: contain;
  background-position: center;
}

#new_site {
  text-align: center;
  background-color: grey;
}
#new_site h1 {
  font-size: 70px;
}
#new_site h1.new_site {
  font-size: 30px;
}

#c {
  background-image: url('https://s3-us-west-2.amazonaws.com/boxheartweddings/garrettestrin_images/wood2-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#d {
  background-image: url('https://s3-us-west-2.amazonaws.com/boxheartweddings/garrettestrin_images/beer-min.png');
  background-size: cover;
  background-position: center;
}

#e {
  background-image: url('https://s3-us-west-2.amazonaws.com/boxheartweddings/garrettestrin_images/obdsf-min.png');
  background-size: cover;
  background-position: center;
}

#f {
  background-image: url('https://s3-us-west-2.amazonaws.com/boxheartweddings/garrettestrin_images/picture-min.png');
  background-size: cover;
  background-position: center;
}

#g {
  background-image: url('https://s3-us-west-2.amazonaws.com/boxheartweddings/garrettestrin_images/connect-min.png');
  /*background-image: url('../images/connect1-min.png');*/
  background-size: cover;
  background-position: center;}

#h {
  background-image: url('https://s3-us-west-2.amazonaws.com/boxheartweddings/garrettestrin_images/story-min.png');
  background-size: cover;
  background-position: center;
}

#i {
  background-image: url('https://s3-us-west-2.amazonaws.com/boxheartweddings/garrettestrin_images/mole-min.png');
  background-size: cover;
  background-position: center;
}

.box {
  height: 210px;
  border: solid black 1px;
  cursor: pointer; cursor: hand;
  text-align: center;
}

.box:hover {
  opacity: 0.5;
}

#footer {
  text-align: center;

}

#logo {
  margin-top: 15px;
  animation:spin 8s linear infinite;
  width: 180px;

}

@keyframes spin { 0% {transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);} }

.small-box {
  height: 210px;
  border: solid black 1px;
  cursor: pointer; cursor: hand;
  text-align: center;
  display: none;
  background-color: grey;
}
.small-box h1 {
  margin-top: 8px;
}

.small-box:hover {
  opacity: 0.5;
}

.extra-small-box {
  height: 400px;
  /*width: 200px;*/
  border: solid black 1px;
  cursor: pointer; cursor: hand;
  text-align: center;
  display: none;
}

.extra-small-box:hover {
  opacity: 0.5;
}

.modal {
  -webkit-transform: translateZ(1000px);
}

.modal-body {
  z-index: 999;
}

@media screen and (max-width: 991px){
  .box {
    display: none;
  }

  .small-box {
    display: inline-block;
  }

  .extra-small-box {
    display: none;
  }

  p {
    font-size: 1.5em;
  }

  #footer {
      margin: -20px 0 10px;
  }
}

@media screen and (max-width: 768px){
  .box {
    display: none;
  }

  .small-box {
    display: none;
  }

  .extra-small-box {
    display: inline-block;
  }

  #logo {
    width: 350px;
    margin: 25px 0 0 0;
  }

  h1 {
    margin-top: 150px;
    font-size: 85px;
  }

  p {
    font-size: 1.5em;
  }

  #footer {
      margin: 0 0 10px;
  }
}
